$blue-green-color-wheel: #065143ff;
$apricot: #fac9b8ff;
$opal: #99c1b9ff;
$upsdell-red: #ad2831ff;
$charcoal: #2f3e46ff;
$text-color: #eeeeee;

$font-family: 'Chivo Mono', monospace;
$font-size: 14px;
$sm-pd: 0.5rem;
$md-pd: 1rem;
$lg-pd: 1.5rem;
