@import "../_config.scss";

.container {
  text-align: center;
  font-size: $md-pd;
  text-transform: uppercase;

  .earnings-label {
    font-size: 1.2em;
  }

  .earnings {
    font-weight: 700;
  }
}
